PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/techstore
JWT_SECRET=change_me
CLIENT_URL=http://localhost:3000
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
